

<div class="body">
  <mat-card class="card" *ngFor="let place of places">
      <mat-card-header>
        <mat-card-title>{{ place.nombre }}</mat-card-title>
      </mat-card-header>
          
      <div  style="background-image: url({{place.imagenes[0]}}) ;" class="img"></div>
      <div class="content">
        <mat-card-content>
          <p>{{ truncateDescription(place.descripcion) }}</p>
        </mat-card-content>

        <mat-card-actions>
          <a href="detalle">Leer más</a>
          <span>
            <p>{{ place.puntuacion }}</p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          </span>
        </mat-card-actions>
      </div>
  </mat-card>
</div>
