.body {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.login_form {
  text-align: center; 
  min-width: fit-content;
  background-color: rgba(31, 138, 138, 0.24);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  
  padding: 50px 50px;
  border-radius: 10px;
}


mat-form-field {
  width: 100%;
}

mat-error{
    margin-left: -19px;
}
/* app.component.css */
body {
  overflow: hidden;
}
