.body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85vh;
}
.table {
    min-width: fit-content;
    padding: 50px 100px;
}

.form {
    display: flex;
    flex-direction: column;

    padding: 50px;
    width: 60%;
}
form {
    display: flex;
    flex-direction: column;
}
.textarea {
    height: fit-content;
}