<app-cabecera></app-cabecera>
<div class="desc">
    <p>La Coruña es una ciudad portuaria situada en un promontorio en la región de Galicia (noroeste de España). Es conocida por su faro romano, la torre de Hércules, que ofrece amplias vistas del litoral. En el casco antiguo medieval se encuentra la plaza porticada de María Pita, rodeada de estrechas vías peatonales. En esta plaza se halla la estatua de María Pita, una mujer del siglo XVI que avisó a la ciudad de la invasión de Sir Francis Drake.</p>
</div>
<app-places></app-places>
