<form [formGroup]="registroForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="apellidos" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput type="tel" formControlName="telefono" required>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="contraseña" required>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="!registroForm.valid">Registrarse</button>
  </form>
  